<div class="container-fluid">

  <!-- 404 Error Text -->
  <div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Pagina no disponible o con errores!</p>
    <p class="text-gray-500 mb-0">Simpre puedes volver al inicio</p>
    <a href="inicio">&larr; Volver ahora!</a>
  </div>

</div>